.select{
    display: flex;
    padding: 10px 20px;
    border: 1px solid #000;
    cursor: pointer;
    width: 100px;
    justify-content: center;
}

.select span{
    font-size: 20px;
}

.options{
    width: fit-content;
    position:absolute ;
    
}

.options .option{
    background-color:  #fff;
    margin-top: 1px;
    cursor: pointer;
    padding:8px 16px ;
    border: 1px solid #000;
    font-size: 16px;
    width: 108px;
    display: flex;
    justify-content: center
    
}

.select-component{

    position: relative;

}