.navbar{
width: 100%;
height: 100px;
background: #F7F7F7;
border-bottom: 1px solid #555;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 0px;
margin-top: 10px;
}

.logoContainer {
    margin-left: 40px;
cursor: pointer;
}

.linksContainer{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-right: 100px;
}

.link a{
    text-decoration: none;
    color: black;

}
.link a:hover{
    text-decoration: none;
    color: red;
    
}

